* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/*for phones: */
[class*="col-"] {
    width: 100%
}

.content-margin {
    margin-left: 10px;
    margin-right: 10px;
}

/*above for phones*/

@media only screen and (min-width: 600px) {
    /*for tablets: */

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    .content-margin {
        margin-left: 50px;
        margin-right: 50px;
    }

}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }


    .wrapper {
        margin-left: 100px;
        margin-right: 100px;
    }

    .content-margin {
        margin-left: 100px;
        margin-right: 100px;
    }

    .navbar-list {
        display: block !important;
        transition: all 0.3s ease;
    }


    nav ul {
        list-style: none;
        display: block;
    }

    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }

    nav ul li a {
        color: white;
        padding-bottom: 3px;
        border: none;

    }

    nav ul li a:hover {
        border-bottom: 3px solid rgb(43, 43, 43);

    }

    .icon-function{
        display:none;
    }
}

/* FOR HTML */
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    scroll-behavior: smooth;

    background-color: #D3D3D3;
    width: 100%;
    margin: 0;
}

.wrapper {
    background-color: white;
}

/* FOR NAV */
nav {
    background-color: royalblue;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 1px 3px black;

}

nav ul {
    list-style: none;
}
nav ul li{
    margin-top:10px;
}
nav ul li a {
    color: white;
    padding-bottom: 3px;
    border: none;

}   


.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    background-color: rgba(65, 105, 225, 0.97);
    z-index: 999;
}

.navbar-list {
    display: none;
}

a {
    text-decoration: none;
    color:inherit;
}

/*FOR FOOTER */
footer {
    text-align: center;
    background-color: rgb(60, 60, 60);
    color: rgb(136, 136, 136);
    padding: 5px 0;
}

.burger-icon {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}