.title-container {
    display: flex;
    align-items: center;
}

h1 {
    margin-right: 10px;
}


hr {
    width: 100%;
    height: 1px;
    background-color: grey;
    border: none;
}

.p-container {
    overflow: hidden;
    line-height: 1.5;
}

.section-container {
    margin-top: 50px;
}

/* INTRO */
.intro-link {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: 0.1s;
}

.intro-link-container:hover .intro-link {
    border: 2px solid royalblue;
    background-color: royalblue;
    color: white;
    transition: 0.1s;

}


/* CARDS */
.card {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-top: 6px solid royalblue;
    margin: auto;
    min-height: 400px;
    transition: 0.2s;
}

.card-img {
    display: block;
    width: 100%;
}

.img-container {
    height: 200px;
    width: 100%;

}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.card-row-container {
    display: table;
    width: 100%;
    table-layout: fixed;

}

.card-col {
    display: table-cell;
    vertical-align: top;
}


.card-link:hover .card {
    box-shadow: 0 0 10px royalblue;
    transition: 0.2s;
}


/* Images */
#HTMLImage {
    background-image: url('../img/html5.png');
    background-position: center;
    background-size: 290px;
}

#CSSImage {
    background-image: url('../img/css-image.png');
    background-position: center;
    background-size: 280px;
}

#JSImage {
    background-image: url('../img/js-icon.png');
    background-position: center;
    background-size: 300px;
}

/* CONTACT ME */
.contact-me-container {
    position: fixed;
    z-index: 2000;
    margin: auto;
    background-color: white;
    height: 500px;
    width: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 15px;

    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    /* set to none by default */

    border-radius: 10px;
    box-shadow: 0 1px 8px black;
}

.contact-me-container.show {
    opacity: 1;
    /* change opacity to 1 to display the container */
    pointer-events: auto;
    /* set to auto when visible */
}

.contact-me-container.hide {
    opacity: 0;
    /* change opacity to 0 to hide the container */
    visibility: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    z-index: 1900;
    display: none;
    /* hide the container by default */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent black */
}

/* show the overlay and container when the button is clicked */
.show-container {
    display: block !important;
}

/* hide the overlay and container when the overlay is clicked */
.show-container {
    display: none;
}

.x-button-container {

    text-align: right;
}

.x-button {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: none;
}

.x-button:hover {
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    /* add a higher z-index value */
}

.line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transform-origin: center;
    transition: background-color 0.3s ease-in-out;
}

.line-1 {
    transform: rotate(45deg);
}

.line-2 {
    transform: rotate(-45deg);
}

.contact-me-container hr {
    border: none;
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
}

.pointer-cursor {
    cursor: pointer;
}